//////DRAGULA://////////////////////////////////////////

.gu-mirror
  position: fixed !important
  margin: 0 !important
  z-index: 9999 !important
  opacity: 0.8
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
  filter: alpha(opacity=80)

.gu-hide
  display: none !important

.gu-unselectable
  -webkit-user-select: none !important
  -moz-user-select: none !important
  -ms-user-select: none !important
  user-select: none !important

.gu-transit
  opacity: 0.2
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
  filter: alpha(opacity=20)
//////DRAGULA END://////////////////////////////////////////



#admin-menu
  margin-right: 20px


.text-panel
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,0.8)
  position: fixed
  flex-direction: column
  top: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  z-index: 10

  textarea
    width: 50vw
    height: 70vh
  button
    margin: 2vw
  

table, thead, tbody
  width: 100%


.file-upload
  position: relative
  overflow: hidden
  width: 80px
  height: 34px
  display: inline-block
  vertical-align: bottom
  background-color: rgb(240,240,240)


.file-upload input[type="file"]
  display: none

.file-upload label
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  cursor: pointer

.file-upload button
  line-height: 36px /* Делаем вертикальное выравнивание текста, который написан на кнопке */

.url
  background-color: gold
  display: block
.glyphicon
  font-size: 22px
  padding: 0px 2px
  height: 34px
  width: 34px

.image-row
  padding-top: 25px
  padding-bottom: 25px

.h1-row
  padding-top: 10px
  padding-bottom: 16px
.h2-row
  padding-top: 6px
  padding-bottom: 6px
.p-row
  padding-top: 7px
  padding-bottom: 7px