header {
  height: 306px;
  background-image: url("/web/images/header.jpg");
  background-color: black;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center; }

footer {
  height: 500px;
  background-color: black; }

nav .row {
  position: relative; }

.user-bar {
  position: absolute;
  padding: 15px;
  right: 15px;
  top: 0; }

.post-item-1-appear {
  opacity: 0; }

.post-item-1-appear.post-item-1-appear-active {
  opacity: 1;
  transition: 2s;
  transition-timing-function: ease-out; }

.post-item-2-appear {
  opacity: 0; }

.post-item-2-appear.post-item-2-appear-active {
  opacity: 1;
  transition: 2s;
  transition-delay: .5s;
  transition-timing-function: ease-out; }

.post-item-3-appear {
  opacity: 0; }

.post-item-3-appear.post-item-3-appear-active {
  opacity: 1;
  transition: 2s;
  transition-delay: 1s;
  transition-timing-function: ease-out; }

.post-item-4-appear {
  opacity: 0; }

.post-item-4-appear.post-item-4-appear-active {
  opacity: 1;
  transition: 2s;
  transition-delay: 1.5s;
  transition-timing-function: ease-out; }

.post-item-5-appear {
  opacity: 0; }

.post-item-5-appear.post-item-5-appear-active {
  opacity: 1;
  transition: 2s;
  transition-delay: 2s;
  transition-timing-function: ease-out; }

#btn {
  background-color: red;
  width: 500px;
  height: 100px; }

main {
  min-height: 80vh; }
nav {
  background-color: black;
  color: white; }

article {
  box-sizing: border-box;
  border: 10px solid transparent;
  color: white;
  position: relative; }
  article .border {
    border: solid 1px #e8e8e8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }

.article .header {
  display: flex; }

.article h2 {
  margin: auto; }

.article .image {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100%; }

.small-article-right {
  height: 250px; }
  .small-article-right .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid black;
    border-bottom: 20px solid transparent;
    background-color: transparent;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute; }
  .small-article-right .header {
    background-color: black;
    color: white;
    height: 100%; }
  .small-article-right .row {
    height: 100%; }

.small-article-left {
  height: 250px; }
  .small-article-left .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 40px solid white;
    border-bottom: 20px solid transparent;
    background-color: transparent;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute; }
  .small-article-left .header {
    background: white;
    color: black;
    height: 100%; }
  .small-article-left .row {
    height: 100%; }

.big-article-right {
  height: 500px; }
  .big-article-right .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid white;
    border-bottom: 20px solid transparent;
    background-color: transparent;
    margin: auto;
    left: 50%;
    bottom: 20%;
    position: absolute; }
  .big-article-right .header {
    height: 230px;
    background-color: white;
    color: black;
    margin-top: 250px; }
  .big-article-right .row {
    height: 100%; }

.double-article {
  height: 510px;
  border: 10px;
  padding: 0; }

.image-panel {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }

.image-panel img {
  max-width: 60vw;
  max-height: 60vh;
  box-sizing: border-box;
  border-bottom: 20vh; }

.image-panel button {
  margin: 2vh; }

#container {
  width: auto;
  height: auto; }

.preloader {
  position: relative;
  height: 10vh; }
  .preloader img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }

.first-preloader {
  height: 30vh; }
  .first-preloader img {
    top: 15vh; }
p {
  margin-bottom: 1vw;
  margin-top: 1vw; }

h1 {
  margin-bottom: 1vw;
  margin-top: 1vw; }

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); }

.gu-hide {
  display: none !important; }

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20); }

#admin-menu {
  margin-right: 20px; }

.text-panel {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .text-panel textarea {
    width: 50vw;
    height: 70vh; }
  .text-panel button {
    margin: 2vw; }

h1 {
  background-color: beige; }

h2 {
  background-color: palegreen; }

h3 {
  background-color: lightgray; }

p {
  background-color: yellow; }

table, thead, tbody {
  width: 100%; }

.file-upload {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 34px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #f0f0f0; }

.file-upload input[type="file"] {
  display: none; }

.file-upload label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.file-upload button {
  line-height: 36px; }

.url {
  background-color: gold;
  display: block; }
